<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBMatchpet" connectionString="metadata=res://*/ModelMatchPet.csdl|res://*/ModelMatchPet.ssdl|res://*/ModelMatchPet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-0GO8QO85\SQLEXPRESS;initial catalog=DBMatchpet;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>