<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBMatchpet" connectionString="metadata=res://*/ModelMatchPet.csdl|res://*/ModelMatchPet.ssdl|res://*/ModelMatchPet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-0GO8QO85\SQLEXPRESS;initial catalog=DBMatchpet;persist security info=True;user id=usrmatchpet;password=usrmatchpet;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><add name="DBMatchpetEntities" connectionString="metadata=res://*/DBMatchPet.csdl|res://*/DBMatchPet.ssdl|res://*/DBMatchPet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-0GO8QO85\SQLEXPRESS;initial catalog=DBMatchpet;persist security info=True;user id=usrmatchpet;password=usrmatchpet;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>